<button type="button" class="btn btn-xs btn-success pull-left" ng-click="markCompleted(item)">
    <span class="glyphicon" ng-class="item.completed ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
</button>
  <span ng-class="{strike:item.completed}" style="font-weight:bold;">{{item.itemName | uppercase}}</span>
  <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="removeItem(item)">
          <span class="glyphicon glyphicon-trash"></span>
  </button>
  <a href="#/addItem/edit/{{item.id}}" style="margin-right: 10px;" class="btn btn-xs btn-default pull-right">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
